$resize-factor:0.5;
$body-font-family: 'Optima';
$light-weight: 300;
$semibold-weight: 500;
$bold-weight:     700;
$xbold-weight:    800;
$font-size-large: $resize-factor * 96px;
$font-size-medium-large: $resize-factor * 42px;
$font-size-medium: $resize-factor * 36px;
$font-size-small: $resize-factor * 24px;
$font-color: white;
$dashboard-background-color: #F1DEC9;
$timezone-background-color: #8D7B68;
$timezone-width: $resize-factor * 500px;
$timezone-height: $resize-factor * 270px;
$timezone-radius: $resize-factor * 50px;
$timezone-margin: $resize-factor * 20px;