$body-font-family: 'Inter';
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$font-size-medium: 36px;
$font-size-large: 96px;
$font-size-small: 24px;
$font-color: white;
$dashboard-background-color: #85DCBA;